.blueBleed {
    background: #7fc9ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f4f5ff, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f4f5ff, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0px 8px 32px 2px rgba(0, 167, 255, 0.69) !important;
    border-radius: 8px !important;
    border: 0px !important;
    color: #00a3ff !important;
}